# Global configuration values

env:
  local:
    paths:
      base: @localBasePath
    db:
      name: @localDbName
      user: @localDbUser
      pass: @localDbPass
    ssh:
      user: @productionSshUser
      ip:   @productionSshIp
      pass: @productionSshPass


  staging:
    paths:
      base: @stagingBasePath
    db:
      name: @stagingDbName
      user: @stagingDbUser
      pass: @stagingDbPass
    ssh:
      user: @productionSshUser
      ip:   @productionSshIp
      pass: @productionSshPass


  production:
    paths:
      base: @productionBasePath
    db:
      name: @productionDbName
      user: @productionDbUser
      pass: @productionDbPass
    ssh:
      user: @productionSshUser
      ip:   @productionSshIp
      pass: @productionSshPass
